<%= form_with(model: @item, url: collection_items_path(@item.collection), local: true) do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags, value: @item.tags&.join(', ') %>
  </div>

  <div class="field">
    <%= form.label :collection_id %>
    <%= form.collection_select :collection_id, current_user.collections, :id, :name, include_blank: false %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
