<h1><%= @collection.name %></h1>
<p><strong>Description:</strong> <%= @collection.description %></p>
<p><strong>Category:</strong> <%= @collection.category %></p>
<% if @items.any? %>
  <ul>
    <% @items.each do |item| %>
      <li><%= item.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No items in this collection.</p>
<% end %>
<% if user_signed_in? && current_user == @collection.user %>
  <%= link_to 'Edit', edit_collection_path(@collection) %> |
  <%= link_to 'Delete', collection_path(@collection), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', collections_path %>
