<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
      <% if user_signed_in? %>
        <p><%=t(:hello)%>, <%= current_user.email %>!</p>
        <%= link_to 'My Collections', collections_path, class: 'btn btn-primary mb-2' %>
        <%= link_to 'Create Collection', new_collection_path, class: 'btn btn-primary mb-2' %>
        <% if current_user.collections.any? && current_user.collections.any? { |collection| collection.items.any? } %>
          <%= link_to 'My Items', items_path, class: 'btn btn-primary mb-2' %>
        <% end %>
        <% @collection = current_user.collections.first %>
        <% if @collection.present? %>
          <%= link_to 'Create Item', new_item_path(collection_id: @collection.id), class: 'btn btn-primary mb-2' %>
        <% else %>
          <p class="mb-2">You must create a collection first before adding items.</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
